.about-box {
    width: 100%;
    height: 70vh;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 80%;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(40, 74, 49, 0.26);
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-front,
.card-back {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(232, 238, 233, 0.3), rgba(224, 238, 228, 0.3)), url("https://www.aptouring.com/-/media/apt-responsive-website/australia/queensland/hero-panel-12-5/hc-a-au-qld-cape-york-tip-146826446-g-rf-edit-lighter-12-5.jpg?useCustomFunctions=1&rw=2280&w=1900&h=950&cropX=190&cropY=0");
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

h4 {
    text-transform: uppercase;
    font-size: 50px;
    color: black;
}

h5 {
    font-size: 22px;
    color: black;
}

.boxes {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: center;
}

.box1,
.box2,
.box3 {
    height: 350px;
    color: white;
    border: 1px solid white;
    position: relative;
    border-radius: 10px;
}

.box1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(232, 238, 233, 0.3), rgba(224, 238, 228, 0.3)), url("https://web-static.wrike.com/cdn-cgi/image/width=900,format=auto/blog/content/uploads/2016/05/How-to-Build-Your-First-Wrike-Request-Form.jpg?av=5a514c59e799b0de20e021c19c3ecac1");
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.box2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(232, 238, 233, 0.3), rgba(224, 238, 228, 0.3)), url("https://img.freepik.com/free-photo/shopping-online-shopping-cart-trolley-laptop-keyboard-shopping-service-online-web-offers-home-delivery_9635-4159.jpg?w=2000");
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.box3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(232, 238, 233, 0.3), rgba(224, 238, 228, 0.3)), url("https://www.gannett-cdn.com/-mm-/3b8b0abcb585d9841e5193c3d072eed1e5ce62bc/c=0-30-580-356/local/-/media/2017/10/05/USATODAY/usatsports/glass-jar-full-of-cois-with-donate-written-on-it-charity-donation-philanthropy_large.jpg?width=1200&disable=upscale&format=pjpg&auto=webp");
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

h3 {
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

h1 {
    color: black;
    margin-top: 15%;
    font-size: 25px;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: black;
}

.click-button:focus {
    border-color: aliceblue;
}

.click-button {
    width: 60%;
    padding: 15px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: rgb(85, 85, 189);
    border: 2px solid white;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
}

.click_button:hover {
    color: white;
    border: 2px solid rgb(85, 85, 189);
    background-color: rgb(85, 85, 189);
    cursor: pointer;
}