.form_box {
    width: 400px;
    height: 510px;
    position: relative;
    margin: 2% auto;
    background: rgba(75, 76, 79, 0.3);
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
}

.add-acc {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h6 {
    font-size: 3rem;
}

.input_login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit_button:focus {
    border-color: aliceblue;
}

.submit_button {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: rgb(85, 85, 189);
    border: 2px solid white;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    color: white;
}

.submit_button:hover {
    color: black;
    border: 2px solid white;
    background-color: rgb(85, 85, 189);
    cursor: pointer;
}

#login {
    left: 50px;
}

#login input {
    color: white;
    font-size: 15;
}