.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  position: relative;
  padding: 20px 0;
}

.navbar-brand .logo-img {
  max-width: 150px;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 35px;
}

.navbar-nav .nav-item .nav-link { 
  position: relative;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 400;
  color: #49525a;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #C76E95;
}

.navbar-nav .nav-item .nav-link::before { 
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  background-color: #49525a;
  opacity: 0;
  transition: all 0.4 ease-in-out 0s;
}

.navbar-nav .nav-item .nav-link:hover::before { 
  opacity: 1;
}