@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: white;
  overflow-x: hidden;
  background-color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  border-bottom: 1px solid white;
}

.navbar {
  position: relative;
  padding: 20px 0;
}

.navbar-brand .logo-img {
  max-width: 150px;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 35px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #C76E95;
}

.navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  background-color: #49525a;
  opacity: 0;
  transition: all 0.4 ease-in-out 0s;
}

.navbar-nav .nav-item .nav-link:hover::before {
  opacity: 1;
}

.logo-img {
  border-radius: 100%;
}

#screen {
  position: relative;
  background-color: black;
}

.filter {
  position: absolute;
  height: 75vh;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
}

.posts {
  position: absolute;
  height: 75vh;
  overflow: scroll;
  top: 0;
  left: 25%;
  text-align: center;
  background-color: #252525;
  padding: 25px;
}

.extra {
  position: absolute;
  height: 75vh;
  top: 0;
  right: 0;
  text-align: center;
  padding: 15px;
}

#filter_navigation {
  height: 80%;
}

#navigation_profile {
  height: 20%;
  text-align: center;
}

#filters {
  height: 100%;
  text-align: center;
  padding: 30px;
}

#filters p, #navigation_profile p {
  width: fit-content;
  margin-left: 35%;
}

#filters p, button, #navigation_profile p {
  font-weight: bold;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin-bottom: 10%;
}

#filters button {
  color: white;
  border: 2px solid white;
  background-color: #5555bd;
  display: block;
  margin: 0.5em auto;
  padding: 0.875rem 3rem;
  border-radius: 2rem;
  outline: none;
}

#filters button a, #filters p a {
  color: white;
}

#filters p:hover, #navigation_profile p:hover {
  background-color: gray;
  border-radius: 10%;
  cursor: pointer;
}

.post {
  height: 70vh;
  border: 3px solid white;
  position: relative;
}

.post_header {
  width: 100%;
  height: 10%;
  padding: 5% 0;
  display: flex;
  justify-content: space-around;
}

.user_name, .commenter_name {
  color: #C76E95;
}

.post_main {
  height: 80%;
  padding: 40% 0;
}

.post_footer {
  bottom: 0px;
  right: 5%;
  height: 10%;
}

.post_footer div {
  display: block;
}

.votes:hover {
  cursor: pointer;
}

.comments {
  height: 20%;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 10px;
  border: 2px solid whitesmoke;
}

.comment_header {
  text-align: left;
  padding-left: 5%;
  border-bottom: 2px solid whitesmoke;
}

.comment_main {
  background-color: black;
  height: 100%;
  text-align: left;
  padding-left: 5%;
  padding-top: 2%;
}

.wrapper {
  width: 50rem;
  margin: 2rem auto;
  border-radius: 1rem;
  height: auto;
  display: flex;
}

#category {
  min-width: 25%;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px 0 0 20px;
}

.categories {
  padding: 2.5rem;
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  height: 5px;
}

.categories.active,
.categories:hover {
  cursor: pointer;
  color: #C76E95;
}

#content {
  color: white;
  width: 100%;
  background-color: #3352BA;
  border-radius: 0 20px 20px 0px;
}

#content_title {
  text-align: center;
  padding: 30px;
}

#form_info {
  text-align: center;
  color: black;
  border-radius: 1rem;
  padding: 3rem;
  margin: auto;
}

#form_info input {
  border: 2px solid white;
  background: none;
  display: block;
  margin: 1em auto;
  text-align: center;
  padding: 0.875rem 0.625rem;
  width: 14rem;
  border-radius: 2rem;
  outline: none;
  color: black;
  transition: 0.25s;
}

textarea {
  border: 2px solid white;
  background-color: #4e77d774;
  width: 50%;
}

.form_box {
  width: 400px;
  height: 510px;
  position: relative;
  margin: 2% auto;
  background: rgba(75, 79, 76, 0.3);
  padding: 10px;
  overflow: hidden;
  border-radius: 20px;
}

.button_box {
  width: 279px;
  height: 70px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #75b97c1f;
  border-radius: 30px;
  text-align: center;
  font-size: 2.2rem;
}

.toggle-btn {
  padding: 1px 35px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: white;
}

h6 {
  font-size: 1.2rem;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 61%;
  height: 100%;
  background: #56b55e;
  border-radius: 30px;
  transition: 0.5s;
}

.input_login {
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input_signup {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit_button:focus {
  border-color: aliceblue;
}

.submit_button {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #72bc78;
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-top: 20px;
  transition: 0.25s;
}

.submit_button:hover {
  color: white;
  border: 2px solid #56b55e;
  background-color: #56b55e;
  cursor: pointer;
}

#login {
  left: 50px;
}

#login input {
  color: white;
  font-size: 15;
}

#signup {
  left: 450px;
}

#signup input {
  color: white;
  font-size: 15;
}

#pro_intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

#pro_intro h2 {
  font-size: 5rem;
  color: #C75B80;
  -webkit-text-stroke: 2px #708BD7;
}

#ad_page {
  height: 100vh;
  width: 100%;
  position: relative;
}

.forum-form {
  color: white;
  background-color: #3352ba5c;
  margin: 0.6rem;
  padding: 1.3rem;
  border-radius: 5px;
  border: 1px solid #708bd78d;
}

.forum-form textarea {
  margin-top: 1rem;
  width: 100%;
  height: 12.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  color: black;
}

.forum-button {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0;
}

.ad_button {
  background-color: #C75B80;
  margin: 5px 0 0 0;
  padding: 4px;
  width: 15%;
  border: 1px solid #708BD7;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.ad_button:hover {
  color: black;
}

#ad_page div {
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.ad_list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ad {
  margin: 0.5rem;
  background: #3352BA;
  padding: 10px;
  border: 2px solid #4E78D7;
  border-radius: .3em;
  box-shadow: 6px 6px 20px #000000;
  font-size: 1rem;
}

.ad_info {
  margin-top: 0;
  color: white;
  flex-wrap: wrap;
}

.ad_name {
  color: black;
  width: 26%;
  margin-left: 3px;
  padding: 0.2rem;
  font-size: 15px;
}

section button {
  color: white;
  background: #C75B80;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #708BD7;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section button:hover {
  background: #708BD7;
  color: white;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#profile_content {
  color: white;
  width: 50%;
  background-color: #3352BA;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */