@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: white;
  overflow-x: hidden;
  background-color: black;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  border-bottom: 1px solid white;
}

.navbar {
  position: relative;
  padding: 20px 0;
}

.navbar-brand .logo-img {
  max-width: 150px;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 35px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #C76E95;
}

.navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  background-color: #49525a;
  opacity: 0;
  -webkit-transition: all 0.4 ease-in-out 0s;
  transition: all 0.4 ease-in-out 0s;
}

.navbar-nav .nav-item .nav-link:hover::before {
  opacity: 1;
}

.logo-img {
  border-radius: 100%;
}

#screen {
  position: relative;
  background-color: black;
}

.filter {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
}

.posts {
  position: absolute;
  height: 100vh;
  overflow: scroll;
  top: 0;
  left: 25%;
  text-align: center;
  background-color: #252525;
  padding: 30px;
  position: relative;
}

.extra {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: black;
  text-align: center;
}

#filter_navigation {
  height: 80%;
}

#navigation_profile {
  height: 20%;
  text-align: center;
}

#filters {
  height: 100%;
  text-align: center;
  padding: 30px;
}

#filters p, #navigation_profile p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 35%;
}

#filters p, button, #navigation_profile p {
  font-weight: bold;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin-bottom: 10%;
}

#filters button {
  color: white;
  border: 2px solid white;
  background-color: #5555bd;
  display: block;
  margin: 0.5em auto;
  padding: 0.875rem 3rem;
  border-radius: 2rem;
  outline: none;
}

#filter button a {
  color: white;
}

#filters p:hover, #navigation_profile p:hover {
  background-color: gray;
  border-radius: 10%;
  cursor: pointer;
}

.post {
  height: 70vh;
  border: 3px solid white;
  position: relative;
}

.post_header {
  width: 100%;
  height: 10%;
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post_main {
  height: 80%;
  padding: 40% 0;
}

.post_footer {
  bottom: 0px;
  right: 5%;
  height: 10%;
}

.post_footer div {
  display: block;
}

.votes:hover {
  cursor: pointer;
}

.wrapper {
  width: 50rem;
  margin: 1rem auto;
  border-radius: 1rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#category {
  width: 20%;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid white;
  border-radius: 20px 0 0 20px;
}

.categories {
  padding: 3rem;
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  height: 5px;
}

.categories:hover {
  cursor: pointer;
}

#content {
  color: white;
  width: 100%;
  background-color: darkcyan;
  border-radius: 0 20px 20px 20px;
}

#content_title {
  text-align: center;
  padding: 30px;
}

#form_info {
  text-align: center;
  color: black;
  border-radius: 1rem;
  padding: 3rem;
  margin: auto;
}

#form_info input {
  border: 2px solid white;
  background: none;
  display: block;
  margin: 1em auto;
  text-align: center;
  padding: 0.875rem 0.625rem;
  width: 14rem;
  border-radius: 2rem;
  outline: none;
  color: black;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/*# sourceMappingURL=style.css.map */