<div class="about-box">
    <div class="card">
        <div class="inner-box">
            <div class="card-front">
                <h4>Cape York Peninsula</h4>
                <h5></h5>
            </div>
            <div class="card-back"></div>
        </div>
    </div>
</div>
<div class="boxes">
    <div class="box1">
        <h3>Request/Report</h3>
        <h1>Learn more about the request and report system</h1>
        <button type="click-btn" class="click-button"><a href="/rr" id="link-rr">Click here</a></button>
    </div>
    <div class="box2">
        <h3>Forum</h3>
        <h1>Explore on the forum page to promote your business</h1>
        <button type="click-btn" class="click-button"><a href="/forum" id="linkforum">Click here</a></button>
    </div>
    <div class="box3">
        <h3>Donation</h3>
        <h1>Every little helps, you can make a difference! </h1>
        <button type="click-btn" class="click-button"><a href="/donate" id="linkdonate">Click here</a></button>
    </div>
</div>