<div id="pro_intro">
  <h2>Promotions</h2>
</div>

<section id="ad_page">
  <form class="forum-form">
    <label for="name">Name/ Company: </label><input type="text" class="ad_name" id="name" placeholder="Name"
      name="name">
    <label for="contact"></label><input type="text" class="ad_name" id="contact" placeholder="Contact Number"
      name="contact">
    <label for="address"></label><input type="text" class="ad_name" id="address" placeholder="Address" name="address">
    <label for="info"></label><textarea rows="2" cols="2" class="ad_input" id="info"
      placeholder="Write Advertisement Information here" name="text"></textarea>
      <div class="forum-button">
        <button class="ad_button" type="submit"> Promote </i></button>
      </div>
  </form>
  <div class="ans">
    <ul class="ad_list"></ul>
  </div>
</section>