<!-- body contents of landing page goes here -->
<!-- Twitter -->

<div id="screen" >
    <!-- Filter -->
    <section id="filter">
        <div id="filter_navigation">
            <div id="filters">
                <p>Water</p>
                <p>Food</p>
                <p>Waste</p>
                <p>Transportation</p>
                <p>Crime</p>
                <button>Report</button>
            </div>
        </div>
        <div id="navigation_profile">
            <p>Profile</p>
        </div>
    </section>


    <!-- Feed -->
    <section id="posts">
        <div>
            <div class="post">
                <div class="post_header">
                    <p class="user_name">Name</p>
                    <p class="category">#category</p>
                </div>
                <div class="post_main">
                    <p>The text to be shown</p>
                </div>
                <div class="post_footer">
                    <p class="votes">0</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Extra shit -->
    <section id="extra">
        <p>Extras</p>
    </section>
</div>


                                                        <!-- Netflix -->
<!-- <div class="rows">
    <h2>Water</h2>
    <div class="row_feed">
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        
    </div>
</div>

<div class="rows">
    <h2>Food</h2>
    <div class="row_feed">
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
    </div>
</div>

<div class="rows">
    <h2>waste</h2>
    <div class="row_feed">
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
    </div>
</div>

<div class="rows">
    <h2>Transportation</h2>
    <div class="row_feed">
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
        <div class="feeds"></div>
    </div>
</div>
-->
