<!-- body contents of landing page goes here -->
<!-- Twitter -->

<section id="screen">
    <div class="container-landing">
      <div class="row">
            <!-- Filter -->
            <div class="col-3 filter">
            <div id="filter_navigation">

                <div id="filters">
                <p id="home" class="homeButton">Home</p>
                <p id="water" class="filterButtons">Water</p>
                <p id="food" class="filterButtons">Food</p>
                <p id="waste" class="filterButtons">Waste</p>
                <p id="transport" class="filterButtons">Transportation</p>
                <p id="crime" class="filterButtons">Crime</p>
                <p id="profile"><a href="/profile">Profile</a></p>
                <button><a href="/rr">Report</a></button>
                </div>
            </div>
            </div>
            <!-- Feed -->
            <div id="posts_feed" class="col-5 posts">
                
            </div>
            <!-- Extra shit -->
            <div class="col-4 extra">
                <div class="comments">
                    <div class="comment_header">
                        <p class="commenter_name">Name</p>
                    </div>
                    <div class="comment_main">
                        <p>The Comment</p>
                    </div>
                </div>
                <div class="comments">
                    <div class="comment_header">
                        <p class="commenter_name">Name</p>
                    </div>
                    <div class="comment_main">
                        <p>The Comment</p>
                    </div>
                </div>
                <div class="comments">
                    <div class="comment_header">
                        <p class="commenter_name">Name</p>
                    </div>
                    <div class="comment_main">
                        <p>The Comment</p>
                    </div>
                </div>
                <div class="comments">
                    <div class="comment_header">
                        <p class="commenter_name">Name</p>
                    </div>
                    <div class="comment_main">
                        <p>The Comment</p>
                    </div>
                </div>
            </div>
      </div>
    </div>
</section>

