<div id="login_form" class="login_page">
    <div class="form_box">
        <div class="button_box">
            <div id="btn"></div>
            <button type="button" onclick="login()" class="toggle-btn"><h6>LogIn</h6></button>
            <button type="button" onclick="signup()" class="toggle-btn"><h6>SignUp</h6></button>
        </div>

        <form id="login" class="input_login">
            <input type="text" class="input" placeholder="Email Address" required>
            <input type="password" class="input" placeholder="Enter Password" required>
            <button type="submit" class="submit_button">Log In</button>
        </form>

        <form id="signup" class="input_signup">
            <input type="text" class="input" placeholder="Full Name" required>
            <input type="email" class="input" placeholder="Email Address" required>
            <input type="autocomplete" class="input" placeholder="Home Address" onfocus="geolocate()" required>
            <input type="password" class="input" placeholder="Enter Password" required>
            <input type="password" class="input" placeholder="Confirm Password" required>
            <button type="submit" class="submit_button">Sign Up</button>
        </form>

    </div>
</div>
</div>
</div>
</div>