<div id="login_form" class="login_page">
  <div class="form_box">
    <div class="button_box">
      <button type="button" class="toggle-btn">
        <h6>Add Account</h6>
      </button>
    </div>

    <form id="login" class="input_login" >
      <input type="text" class="input" placeholder="User Name"  name="user_id" required>
      <input type="tel" class="input" placeholder="Phone Number" name="num" required>
      <button type="submit" class="submit_button">Add Account</button>
    </form>
  </div>
</div>
