<div id="login_form" class="login_page">
    <div class="form_box">
        <div class="add-acc">
            <h6>Sign Up</h6>
        </div>

        <form id="login" class="input_login">
            <input type="text" class="input" placeholder="User Name" name="user_id" required>
            <input type="tel" class="input" placeholder="Phone Number" name="num" required>
            <button type="submit" class="submit_button">Add Account</button>
        </form>
    </div>
</div>