<div>
    <div id="Profile_content">
        <h1 id="content_title">Water</h1>
        <form id="form_info">
          <input placeholder="Title: " type="text" name="title">
          <input placeholder="First Name: " type="text" name="firstName">
          <!-- submit button -->
          <input id="submit" type="submit" name="submit" value="Submit">
        </form>
      </div>
</div>