<div class="profile-container">
    <div id="profile_content">
        <h1 id="content_title">Search User's Posts</h1>
        <form id="profile_info">
          <input placeholder="User ID: " type="text" name="user_id">
          <!-- submit button -->
          <a href="/"><input id="submit" type="submit" name="submit" value="Submit"></a>
        </form>
    </div>
</div>