<section>
    <div class="wrapper">
        <div id="category">
            <div class="categories" id="water">
                <p>Water</p>
            </div>
            <div class="categories" id="Food">
                <p>Food</p>
            </div>
            <div class="categories" id="Waste">
                <p>Waste</p>
            </div>
            <div class="categories" id="Transportation">
                <p>Transportation</p>
            </div>
            <div class="categories" id="Crime">
                <p>Crime</p>
            </div>
        </div>
        <div id="content">
            <h1 id="content_title">Water</h1>

            <form id="form_info">
                <input placeholder="First Name: " type="text" name="firstName">
                <input placeholder="Last Name: " type="text" name="lastName">
                <input placeholder="Address: " type="text" name="Address">
                <input placeholder="Phone Number: " type="tel" name="Number">
                <textarea name="text"></textarea>
                <!-- submit button -->
                <input id="submit" type="submit" name="submit" value="Submit">  
            </form>
        </div>
    </div>
</section>