<section>
  <div class="wrapper">
    <div id="category">
      <div class="categories" id="water">
        <p>water</p>
      </div>
      <div class="categories" id="food">
        <p>food</p>
      </div>
      <div class="categories" id="waste">
        <p>waste</p>
      </div>
      <div class="categories" id="transportation">
        <p>transportation</p>
      </div>
      <div class="categories" id="crime">
        <p>crime</p>
      </div>
    </div>
    <div id="content">
      <h1 id="content_title">water</h1>
      <form id="form_info">
        <input placeholder="Title: " type="text" name="title">
        <input placeholder="First Name: " type="text" name="firstName">
        <input placeholder="Address: " type="text" name="Address">
        <input placeholder="Phone Number: " type="tel" name="Number">
        <textarea name="text" placeholder="Write report here... "></textarea>
        <!-- submit button -->
        <input id="submit" type="submit" name="submit" value="Submit">
      </form>
    </div>
  </div>
</section>