<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <!-- Style CSS -->
  <link rel="stylesheet" href="../scss/style.css">
  <title>
    <%- title %>
  </title>
</head>

<body>

  <!-- header start -->
  <header class="header-area">
    <div class="nav-area">
      <!-- navbar start -->
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="">
              <img class="logo-img" src="img/Logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/rr">Report/ Request</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/donate">Donate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/faq">FAQs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Sign Up</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- navbar end -->
  </header>
  <!-- header end -->
  <main>
    <%- body %>
  </main>
  <!-- optional and required tags -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    // Forum page js
    // Selectors
    const adInput = document.querySelector(".ad_input"); // textarea from form
    const adName = document.getElementById("name"); // name from form
    const adContact = document.getElementById("contact"); // phone number from form
    const adAddress = document.getElementById("address"); // address from the form
    const adButton = document.querySelector(".ad_button"); // button that submits the form
    const adList = document.querySelector(".ad_list"); // empty UL that would be added to to make our information cards

    // Event Listeners
    adButton.addEventListener("click", createAd); // acts on the add button and this function that adds the card information
    adList.addEventListener("click", deleteCheck); // acts on the delete button to delete an information card
    window.addEventListener("load", displayCards);

    // Functions
    // Function to create the information cards
    let cards = []; // list holding json info of cards
    let num = 0;
    function createAd(event) {

      // store card in json file 
      const form = document.querySelector("form");
      // prevents the default action of form from submitting and reloading
      event.preventDefault();
      const data = new FormData(form);
      const value = Object.fromEntries(data.entries());
      const newData = JSON.stringify(value); // turn data entered by user into json format
      cards.push(newData); // add data to the json list
      console.log(cards);
      sessionStorage.setItem(num.toString(), newData);

      // create cards and display to user
      // Create a Div that holds the li that would be created and the delete button
      const adDiv = document.createElement("div");
      adDiv.classList.add("ad");

      // Create Li; it is the text area of the information card that appears on submit of the form
      const adInfo = document.createElement("li");
      adInfo.innerHTML =
        "Name: " +
        value.name +
        " <br>Number: " +
        value.contact +
        " <br>Address: " +
        value.address +
        " <br>Information: " +
        adInput.value +
        " <br>";
      adInfo.classList.add("ad_info");

      // remove button to delete the card
      const trashButton = document.createElement("button");
      trashButton.innerHTML = "Remove";
      trashButton.classList.add("trash_button");

      // append to empty list
      adDiv.appendChild(adInfo);
      adDiv.appendChild(trashButton);
      adList.appendChild(adDiv);

      // clear input
      adInput.value = "";
      adName.value = "";
      adContact.value = "";
      adAddress.value = "";
      // increment session storage key
      num++;
    }
    // Function to delete each individual information card
    function deleteCheck(e) {
      const item = e.target;
      if (item.classList[0] === "trash_button") {
        const parentItem = item.parentElement;
        parentItem.remove();
      }
    }

    function displayCards() {
      if (num > 0) {
        console.log("here");
        for (const i in sessionStorage) {
          // create cards to display to user
          // create a Div that holds the li that would be created and the delete button
          const newAdDiv = document.createElement("div");
          newAdDiv.classList.add("new_ad");

          // create li; it is the text area of the information card that appears on submit of the form
          const adInfo = document.createElement("li");
          adInfo.innerHTML =
            "Name: " +
            value.name +
            " <br>Number: " +
            value.contact +
            " <br>Address: " +
            value.address +
            " <br>Information: " +
            adInput.value +
            " <br>";
          adInfo.classList.add("new_ad_info");

          // Create trash Button to delete the information card
          const trashButton = document.createElement("button");
          trashButton.innerHTML = "Remove";
          trashButton.classList.add("new_trash_button");

          // Append to  empty UL List
          newAdDiv.appendChild(adInfo);
          newAdDiv.appendChild(trashButton);
          adList.appendChild(newAdDiv);
        }
      }
    }
  </script>
</body>
</html>