<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <!-- Style CSS -->
  <link rel="stylesheet" href="../scss/style.css">
  <title>
    <%- title %>
  </title>
</head>

<body>

  <!-- header start -->
  <header class="header-area">
    <div class="nav-area">   <!-- navbar start -->
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="">
              <img class="logo-img" src="img/Logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/rr">Report/Request</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/donate">Donate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/faq">FAQs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Sign Up</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div> <!-- navbar end -->
  </header> 
  <!-- header end -->
  <main>
    <%- body %>
  </main>
  <!-- optional and required tags -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<!-- My Script -->
    <script>
      // ============================================== Classes ==============================================
      class Post {
        constructor(_title, _creator_id, _asignee_id) {
          this.title = _title;
          this.creator_id = _creator_id;
          this.asignee_id = _asignee_id;
        }
      }
      
      // ============================================== Dom Elements ==============================================
      //filter section
      let waterFilterButton = document.getElementById("water_filter");
      let foodFilterButton = document.getElementById("food_filter");
      let wasteFilterButton = document.getElementById("waste_filter");
      let transportFilterButton = document.getElementById("transport_filter");
      let crimeFilterButton = document.getElementById("crime_filter");
      let filterButtons = document.querySelectorAll(".filterButtons");
      let home = document.getElementById("home");
      let hashtag
      let profile = document.getElementById("profile");

      //Feed section
      let userName = document.querySelectorAll(".user_name");
      let category = document.querySelectorAll(".category");
      let text = document.querySelectorAll(".text");
      let feed = document.getElementById("posts_feed");

      //Comment section
      let extra = document.querySelector(".extra");


      // ============================================== Window EventListener ==============================================
      window.addEventListener('load', (event) =>{
        getAllPosts()
      })
      home.addEventListener('click', (e)=>{
        getAllPosts();
      })
      
      // ============================================== Filter EventListener ==============================================
      // Query for post with a certain #hashtag
      filterButtons.forEach(filterButton =>{ 
        filterButton.addEventListener('click', (e)=>{
          //hashtag to be Queried for
          hashtag = filterButton.id; // Gets the id of the button that was clicked
          filterIssues();
        })
      })
  
      // ============================================== Functions ==============================================
      //Add Posts
      function addPost(obj){
        //Create Request 
        const xhttp = new XMLHttpRequest();

        xhttp.open("GET", "votes", false);

        xhttp.setRequestHeader("Accept", "application/json");
        xhttp.setRequestHeader('Content-type', 'application/json');
        
        xhttp.onload = function () {
          let res = this.response;
          feed.innerHTML += `
          <div class='post'>
            <div class="post_header">
                <p class="user_name">${obj.creator_id}</p>
                <p class="category">#${obj.issue_type}</p>
                <p class="category">${obj.title}</p>
            </div>
            <div class="post_main">
                <div class="test">
                  <img class="post_img" src="img/workInProgress.jpg">
                  <p>${obj.msg}</p>
                </div>
                
            </div>
            <div class="post_footer">
                <p class="votes">${res}</p>
            </div>
          </div>`
        }
          let req = {
            title: obj.title,
            creator_id: obj.creator_id, 
            asignee_id: obj.asignee_id, 
          }; 
          // Send data
          xhttp.send(JSON.stringify(req));
      }

      function addPostEvent(){
        //(4.) show comments when clicked on a post
        let post = document.querySelectorAll(".post");
        post.forEach(_post =>{
          _post.addEventListener('click', (e) => {
            clearComments();
            addComments();
          })
        })
      }
      function addComments(){
        extra.innerHTML += 
        `
        <div class="comments">
          <div class="comment_header">
              <p class="commenter_name">Caleb</p>
          </div>
          <div class="comment_main">
              <p>This is Caleb's Comment</p>
          </div>
        </div>

        <div class="comments">
          <div class="comment_header">
              <p class="commenter_name">Chiedz</p>
          </div>
          <div class="comment_main">
              <p>This is Chiedz' Comment</p>
          </div>
        </div>
        `
      }
      //(2.) Clear Posts
      function clearPosts(){
        feed.innerHTML = ``;
      }

      //(3.) Clear comments
      function clearComments(){
        extra.innerHTML = ``;
      }
      function incrementVote(){
        //(1.) Click on votes
        let votes = document.querySelectorAll(".votes");
          votes.forEach(voteButton =>{
            voteButton.addEventListener('click', (e)=>{
              voteButton.innerHTML++; 
            })
          })
      }
      function getAllPosts(){
        //Create Request 
        const xhttp = new XMLHttpRequest();

        xhttp.open("POST", "issues/all", true); // This is the route to post to

        xhttp.setRequestHeader("Accept", "application/json");
        xhttp.setRequestHeader('Content-type', 'application/json');

        xhttp.onload = function () {
          //Get response from server
          let res = JSON.parse(this.responseText) ;
          //Create JSON Objects from response
          for (const [key, value] of Object.entries(res)){
            //Add posts to feed
            addPost(value); 
          }
          //Add other Eventlisteners 
          incrementVote(); // Make votes able to increment
          addPostEvent(); // Make comments show for the right post when clicked
        }

        // Request object to be sent to server
        let req = {
            issue_type: "catch",
          }
        // Send Request
        xhttp.send(JSON.stringify(req));
      }
      function filterIssues(){
        //Create Request 
        const xhttp = new XMLHttpRequest();

        xhttp.open("POST", "issues", true);

        xhttp.setRequestHeader("Accept", "application/json");
        xhttp.setRequestHeader('Content-type', 'application/json');

        xhttp.onload = function () {
          //Get response from server
          let res = JSON.parse(this.responseText)
          //Clear all the posts on the page
          clearPosts()
          //Create JSON Objects from response
          for (const [key, value] of Object.entries(res)){
            //Add posts to feed
            addPost(value); 
          }
          //Add other Eventlisteners 
          incrementVote(); // Make votes able to increment
          addPostEvent(); // Make comments show for the right post when clicked
          }

          let req = {
            issue_type: hashtag,
          }

          console.log(req)
          // Send data
          xhttp.send(JSON.stringify(req));
      }
    </script>
</body>
</html>